$bg-header: #333333;
$bg-header-color: #ddd2d2;
$color-red: #ef837b;
$color-white: white;
$color-black: black;
$color-orange: #fcb941;
$color-orange-dark: #bf913e;
$color-yellow: yellow;
$color-green: #7dd2ea;
$color-bg-banner: #f4f7ff;
$color-fb: #a998f1;
$color-skype: #79c8ed;
$color-inta: pink;
$color-youtube: #e66262;
$color-primary: #40a9ff;
$bg-total-cart: #f9f9f9;
