@import '../../styles/var';

#footer {
	.footer {
		&-link {
			display: block;
			&:hover {
				color: $color-orange;
			}
		}
	}
	.footer-bottom {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 10px;
		img {
			height: 20px;
		}
	}
}
